html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background-color: #FAFAFA;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding: 15px;
}

th {
	text-align: center;
	font-weight: bold;
}

td {
	text-align: right;
}

a {
	display: inline-block;
}

.header {
	text-align: center;
	border-top: 1px solid #FFBB88;
	border-bottom: 1px solid black;
	background-color: #FFBB88;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

.navbar li {
	float: left;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #111111;
}

.active li a:hover {
	background-color: #dba076;
}

.navbar li p {
	display: block;
	color: white;
	text-align: center;
	padding: 0px 16px 0px 16px;
}

.navbar a {
	display: block;
	padding: 8px;
}

.navbar .active {
	background-color: #FFBB88;
}

.navigation {
	display: inline-block;
	margin-bottom: 10px;
	padding: 5px 25px;
	background-color: white;
	border-radius: 5px;
	border: 3px solid black;
}

.navigation a:link {
	text-decoration: none;
	color: black;
}

.navigation a:visited {
	text-decoration: none;
	color: black;
}

.navigation a:hover {
	text-decoration: underline;
	color: black;
}

.navigation a:active {
	text-decoration: underline;
	color: black;
	font-weight: bold;
}

.content {
	margin-left: 8px;
}

.dlblock {
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
	padding-bottom: 5px;
}

.dlblock a {
	text-decoration: none;
	color: black;
}

.gblock {
	display: inline-block;
	padding-right: 40px;
}

.bccb {
	padding: 4px;
	border-radius: 3px;
	border: 1px solid black;
	font-family: 'Lato', sans-serif;
}

.red {
	background-color: red;
}

.orange {
	background-color: orange;
}

.yellow {
	background-color: yellow;
}

.limegreen {
	background-color: limegreen;
}

.blue {
	background-color: blue;
}

.purple {
	background-color: purple;
}

.pink {
	background-color: pink;
}

.white {
	background-color: white;
}
