@media (max-width: 576px) {
  .d-post-info {
    text-align: left;
  }

  .d-post-info-seperator {
    visibility: visible;
  }
}

@media (min-width: 576px) {
  .d-post-info {
    text-align: right;
  }

  .d-post-info-seperator {
    visibility: hidden;
  }
}

.d-post-list-entry {
  text-align: center;
}

.d-post-title {
  text-decoration: none !important;
}